// Use the gear_dropdown.png screenshot as a style guide
#cog {
    position: relative;
}

.gear-dropdown {
    position: absolute;
    display: none;
    background-color: white;
    padding: 15px 10px;
    border: 1px $light-gray solid;
    width: 150px;
    right: 3px;
    z-index: 1;
    box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.2);
    li {
        padding: 5px 0;
    }
    > li > ul > li {
        text-transform: uppercase;
        padding-left: 5px;
    }

    > li > ul > li:hover {
        background-color: $light-gray;
    }
}
.gear-dropdown:last-child {
    border-top: 1px $light-gray solid;
}

#cog:hover .gear-dropdown {
    display: block;
}