.masthead {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 2px solid black;
	position: relative;
}

// The Rails Asset Pipeline takes care of precompiling our assets, so the correct file path for images in the assets/images folder is assets/example_image.jpg. + Images that are important to a website's search engine optimization (SEO) should be image tags rather than background images, as image tags are parsed by search engines.
// Only list elements should be present within unordered lists, but list elements may contain other elements such as anchor tags or buttons.
// After some HTML structuring you will notice some problems with the styling. Refer to the masthead mock up and edit the stylesheet to fix the following things:

// Add application styling for anchor tags using the layout.scss file.

.language-nav {
	position: absolute;
	top: -15px;
	left: calc(50% - (177.78px/2));
	background: white;
	border: 1px solid $light-gray;
	border-bottom: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;

	a {
		margin: 0 5px;
		text-transform: uppercase;
		font-family: $sans-serif;
		font-size: 10px;
		color: $dark-gray;
	}

	a:hover {
		text-decoration: underline;
	}

	ul {
		display: flex;
	}

	ul:first-child {
		font-weight: bold;
	}
}

.logo {
	max-width: 400px;
	margin-top: 10px;
}

.masthead-links {
	display: flex;
	font-family: $sans-serif;
	font-size: 11px;
	margin-top: 10px;
	margin-bottom: 10px;

	li:not(:last-child){
		margin-left: 10px;
		border-right: 1px solid $light-gray;
	}

	button {
		background: none;
		padding: 0px;
		color: #000;
		font-weight: normal;
		border: none;
		font-size: 11px;
	}

	button:hover {
		background-color: $lightest-gray;
	}

	a,
	button, 
	time {
		margin-right: 10px;
	}

	a:hover {
		text-decoration: underline;
	}

	i {
		margin-right: 5px;
	}

	strong {
		color: green;
	}
}