
<div class="masthead">

    <div class="language-nav">
        <ul>
            <li><a>CSS</a></li>
            <li><a>HTML</a></li>
            <li><a>Javascript</a></li>
            <li><a>Ruby</a></li>
        </ul>
    </div>

    <img class = "logo" src="/assets/AA_Times_Logo.png"/>

    <ul class="masthead-links">
        <li>
            <time>Tuesday, October 18, 2016</time>
        </li>
        <li>
            <i class="far fa-newspaper"></i>
            <a>Today’s Paper</a>
        </li>
        <li>
            <i class="fas fa-video"></i>
            <a>Video</a>
        </li>
        <li>
            <button type="button">77°F</button>
        </li>
        <li>
            <button type="button">AAO <strong>+100%</strong></button>
        </li>
    </ul>

</div>


<!--Open up views/shared/_masthead.html.erb. Pull up the provided components/_masthead.scss stylesheet next to it using split screen.

Copy and paste all of the text content from docs/copy/masthead.txt into the html file. We will build the HTML structure around the content. Here are some guidelines:

Notice that the .masthead is a flex-parent which means it will be used as an html container element and all of its immediate child elements will be flex-children. -->