body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 700px;
    border: 1px solid red;
}